@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

header.vh-100 {
	height: calc(100vh - 56px) !important;
}
header a i {
	transform:translateY(-3rem);
	transition:transform 0.6s ease-in-out;
}

header a:hover i {
	transform:translateY(0rem);
}

@media screen and (max-width:575px) {
	header.vh-100 {
		height: 50vh !important;
	}
	header h1.display-1 {
		font-size:3rem;
	}
}

/* Tab servicios */
#servicios-tab a.active, 
.filtro-proyectos.active {
	background-color: #1d2124 !important;
}
#servicios-tab-responsive a.active {
	color: #495057 !important;
}

/* Cookies */
#aviso_cookies {
	display:none;
}





